body {
    text-align: center;
    font-family: 'arial';
    color: yellow;
}
#parrafo {
    border: 2px solid green;
    padding: 5px;
}
p {
    font-size: 12px;
}
.cabecera {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: indigo;
}