body {
    text-align: center;
    font-family: 'arial';
    color: blue;
}
#parrafo {
    border: 2px solid green;
    padding: 5px;
}
p {
    font-size: 12px;
}
.cabecera {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: indigo;
}
#cabecera {
    background-color: black;
    color: blanchedalmond;
    padding: 15px 0;
}
footer {
    width: 100%;
    text-align: center;
    background-color: cadetblue;
    padding: 0.5rem;
}
footer h3 {
    margin: auto;
    color: darkred;
}